extends layout

block content
    h2 Om
    p Denna sida är skapad som ett sista projekt till kursen ramverk2. Sidan använder ramverket express för sin backend tillsammans med websocket och mongodb. 
