extends layout

block content
    h2 Om sidan
    p Denna sida är skapad som ett sista projekt till kursen ramverk2. Sidan använder ramverket express för sin backend tillsammans med socket.io för att kunna utnyttja realtidsfunktioner. För att få schackspelet att fungera så har jag skapat en schackmotor i javascript. Den har jag modulariserat och publicerat på npm för att enkelt kunna komma åt den. Är ni intresserade av att se koden till modulen så finns den #[a( href='https://www.npmjs.com/package/oop-chess' ) här]. Jag har också en databas som lagrar användaruppgifter och chattmeddelanden. Databasen är av typen noSQL och heter mongodb. Det är kort om teknikerna som använts och även sidan källkod finns att hitta på #[a( href='https://www.github.com/barelydead/chess-app' ) github].
    
    
    h2 Om mig
    p Jag heter Christofer Jungberg och har löst 1,5år på programmet webprogrammering. Det betyder att detta är min sista presentation eftersom att det här är den sista dbwebb-kursen kopplat till programmet. Jag började utbildningen med noll kunskap om programmering och jag tycker att jag kommit ganska långt sedan dess. Min plan med utbldningen var att lära mig så pass mycket att jag kan börja jobba inom yrket när kursen är slut och det tror jag att jag kommer lyckas med. Tack och hej för den här gången!
