extends layout


block content
    h2 Välkommen
    p Det här är platsen för alla schackspelare proffs och amatörer. 
    
    p Några korta saker innan du börjar utmana dina vänner. För att spela så behöver du skapa ett konto. Det tar cirka 10 sekunder och på så sätt så känner man igen andra spelare. 
    
    p Det finns en chat i lobbyn som man kan diskutera strategier i eller utmanna andra spelare. Nu får det vara nog med instruktioner. Skapa ett konto och börja lira!
    
    img(src="img/chess2.jpeg")
